.App {
  text-align: center;
  font-family: 'Roboto', 'sans-serif';
}

.center-align {
  textAlign: 'center';
}

.logo {
  animation: logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #ffffff;
  height: 150px;
  padding: 20px;
  color: white;
}

h2 {
  color: #E84C06;
}

.App-intro {
  font-size: large;
}

@keyframes logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}